.generate-Pics-Btn {
  /* width: 250px;
  height: 250px; */
  background-color: rgb(48, 48, 48);
  border: none;
  border-radius: 4px;
  font-size: 30px;
}

.generate-Pics-Btn:hover {
  box-shadow: 0 0 15px 0.2px rgb(119, 211, 215);
  cursor: pointer;
  transition: 0.2s;
}

.btn-icon-div,
.btn-text-div,
.btn-icon,
.btn-text {
  background-color: transparent;
}
