.container {
  background-color: rgb(48, 48, 48);
  border-radius: 30px;
  padding: 1em 3em;
  align-items: center;
  text-align: center;
  width: fit-content;
}

.bot-img {
  background-color: transparent;
  width: 160px;
}

.bot-container {
  background-color: transparent;
  padding-right: 2em;
}

.input-container {
  background-color: transparent;
  text-align: center;
}

.input-field {
  background-color: transparent;
  width: 500px;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  border: 1px solid rgb(119, 211, 215);
}

.user-input-box {
  background-color: transparent;
}

.chat-button {
  background-color: #e67e28;
  color: black;
  width: 60px;
  padding: 1em;
  border: none;
  border-radius: 20px;
}

.chat-button:hover {
  box-shadow: 0 0 5px 2px rgb(119, 211, 215);
  cursor: pointer;
}
