.bot-img {
  /* background-color: transparent; */
  width: 140px;
}

.bot-container {
  background-color: rgb(48, 48, 48);
  align-items: center;
  /* border-radius: 4px; */
  /* padding: 1em; */
}
/* .img-grid-item {
  background-color: transparent;
} */

/* .input-container {
  background-color: transparent;
  text-align: center;
} */

/* .input-field {
  background-color: white;
  color: black;
  width: 80%;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 4px;
  border: none;
} */

/* .user-input-box {
  background-color: transparent;
} */

/* .chat-button {
  margin-top: 0.5em;
  background-color: rgb(231, 132, 48);
  width: 70px;
  height: 35px;
  border: transparent;
  border-radius: 5px;
  align-self: flex-end;
} */

/* .arrow {
  background-color: transparent;
  padding-top: 2px;
} */

/* .chat-button:hover {
  cursor: pointer;
  transition: 0.2s;
} */
