.container {
  background-color: rgb(48, 48, 48);
  border-radius: 20px;
  padding: 1em 3em;
  align-items: center;
  text-align: center;
  width: fit-content;
}

.bot-img {
  background-color: transparent;
  width: 160px;
}

.bot-container {
  background-color: transparent;
  padding-right: 2em;
}

.input-container {
  background-color: transparent;
  text-align: center;
}

.input-field {
  background-color: white;
  color: black;
  /* width: 500px; */
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  border: none;
}

.user-input-box {
  background-color: transparent;
}

.chat-button {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid rgb(230, 126, 40);
  transition: border-color 0.3s ease;
}

.arrow {
  background-color: transparent;
  padding: 2px;
}

.chat-button:hover {
  cursor: pointer;
  transition: 0.2s;
  animation: borderAnimation 2s infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: rgb(10, 89, 105);
  }
  25% {
    border-color: rgb(42, 250, 255);
  }
  50% {
    border-color: rgb(10, 89, 105);
  }
  75% {
    border-color: rgb(42, 250, 255);
  }
  100% {
    border-color: rgb(10, 89, 105);
  }
}
