/* .wrapper {
  margin: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header"
    "content";
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40vh 40vh;
  grid-gap: 15px;
  grid-template-areas:
    "bot-container bot-container chat-history"
    "speech-to-text-btn generate-pics-btn chat-history";
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh 60vh;
  grid-gap: 15px;
  grid-template-areas:
    "bot-container bot-container"
    "chat-history generate-pics-btn";
}

.bot-container {
  grid-area: bot-container;
}

.speech-to-text-container {
  grid-area: speech-to-text-btn;
}

.generate-pics-container {
  grid-area: generate-pics-btn;
}

.chat-history {
  grid-area: chat-history;
} */

/* MEDIA QUERIES  */

/* @media screen and (max-width: 1030px) {
  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35vh 30vh 30vh;
    grid-gap: 15px;
    grid-template-areas:
      "bot-container bot-container"
      "speech-to-text-btn chat-history"
      "generate-pics-btn chat-history";
  }

  .bot-container {
    grid-area: bot-container;
  }

  .speech-to-text-container {
    grid-area: speech-to-text-btn;
  }

  .generate-pics-container {
    grid-area: generate-pics-btn;
  }

  .chat-history {
    grid-area: chat-history;
  }
}

@media screen and (max-width: 598px) {
  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 30vh 30vh;
    grid-gap: 15px;
    grid-template-areas:
      "bot-container bot-container"
      "speech-to-text-btn chat-history"
      "generate-pics-btn chat-history";
  }

  .bot-container {
    grid-area: bot-container;
  }

  .speech-to-text-container {
    grid-area: speech-to-text-btn;
  }

  .generate-pics-container {
    grid-area: generate-pics-btn;
  }

  .chat-history {
    grid-area: chat-history;
  }
} */
